set timeout=0
set default=0

menuentry "SKG Core OS v2.0 (KMS Graphics)" {
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
    set gfxmode=1024x768x32
    set gfxpayload=keep
    terminal_output gfxterm
    multiboot /boot/syskernelapp.gmk
    boot
}