# Pastas do sistema Linux
bin/
boot/boot.asm
dev/
etc/
home/
lib/
lib64/
proc/
root/
run/
sbin/
sys/
tmp/
usr/
var/
.dockerenv
.rock/

# Arquivos de Build do SKG
build/
iso/
*.o
*.gmb
*.gme
*.iso
kernel.bin
